Source: ofono-configs-binder
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/furilabs/ofono-config-binder
Vcs-Git: https://github.com/furilabs/ofono-config-binder.git

Package: ofono-configs-binder-common
Architecture: all
Multi-Arch: foreign
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ofono-binder-plugin,
Provides: ofono-configs-binder
Conflicts: ofono-configs-binder
Description: ofono configuration for devices using the binder plugin - common configurations
 This package contains the ofono configuration for devices using
 the binder plugin.
 .
 This package contains common configurations to make the plugin work.

Package: ofono-configs-binder-dual-sim
Architecture: all
Multi-Arch: foreign
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ofono-configs-binder-common,
Description: ofono configuration for devices using the binder plugin - dual sim
 This package contains the ofono configuration for devices using
 the binder plugin.
 .
 This package adds support for dual sim devices.

Package: ofono-configs-binder-single-sim-sim2
Architecture: all
Multi-Arch: foreign
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ofono-configs-binder-common,
Description: ofono configuration for devices using the binder plugin - single sim on slot2
 This package contains the ofono configuration for devices using
 the binder plugin.
 .
 This package forces single sim on the second slot in dual sim devices.
 You shouldn't really install this unless you have a compelling reason to do so.
